        @charset "UTF-8";
        
        
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
        

        

        @font-face {

            font-family: 'Android';
            src: url('../fontes/idroid.otf') format('opentype');
            font-weight: normal;
        }

       

        :root {

            --cor01: #F2E3D5;
            --cor02: #3CA6A6;
            --cor03: #026773;
            --cor04: #024959;
            --cor05: #012E40;
        
            --fontepadrão: Arial, Verdana, Helvetica sans-serif;
            --fontedestaque:"Bebas Neue", 'cursive';
            --fonteandroid:'Android';
            
        
        }

        * {

            margin: 0px;
            padding: 0px;
            
        }


        /*Todo link com a classe externo*/
        a.externo::after {

            content:'\1F517\00A0';
            
        }


        body {
            background-color: var(--cor01);
            font-family:var(--fontepadrão)
            
        }

        header {

            background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
            text-align: center;
           
            padding-top: 40px;

            text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.399);
            
        }

        header > h1 {

            color: white;
            font-family: var(--fontedestaque);
            font-size: 3em;
            
            margin-bottom: 30px;



            
        }

        header > p {
            font-family: var(--fontepadrão);
            color: white;
            font-size: 1.2em;

            max-width: 600px;
            margin: auto;

            padding-bottom: 40px;
            padding-left: 10px;
            padding-right: 10px;

           

        }

        nav{

            background-color: var(--cor05);
            
            padding: 10px;
            
            box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.336);
        }

        nav > a {

            color: var(--cor02);
            text-decoration: none;
            font-size: 1.1em;
            
            padding: 10px;

            border-radius: 5px;

            transition: 0.5s;
        }

        nav > a:hover {

            background-color: var(--cor03);
            color: var(--cor05);
            
           
        }

        main {

            background-color:white;
            margin: auto;
            padding: 10px;
           
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.481);
           
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            
            margin-bottom: 10px;

            max-width: 800px;
            min-width: 280px;
            
        }

        main img {

            width: 100%;
        }

        img.pequeno {

            max-width:300px; 
            display: block;
            margin: auto;
        }

        main  h1 {

            font-family: var(--fonteandroid);
            color: var(--cor05);
        }

        main h2 {

            font-family: var(--fonteandroid);
            color: var(--cor05);
            font-size: 1.3em;
            
            background-image: linear-gradient(to right, var(--cor03), transparent);
            text-indent: 10px;
        }

        main p {

            text-align: justify;
            text-indent: 20px;
            line-height: 1.5em;
            
            margin: 10px 0px;
        }

        main strong {

            color: var(--cor05);
            font-weight: bold;

        }

        main a {

            background-color: var(--cor03);
            color: #3CA6A6;
            text-decoration: none;

            padding: 2px 4px;
            font-weight: bold;
        }

        main a:hover {

            text-decoration: underline;
            color: var(--cor04);
        }

        div.video {

            background-color: var(--cor04);
            
            margin: 0px -10px 30px -10px;
            
            padding: 10px;
            padding-bottom: 56.8%;

            position: relative;
            
            
        }

        div.video > iframe {

            position: absolute;

            top: 5%;
            left: 5%;

            width: 90%;
            height: 90%;
        }

        aside {

            background-color:var(--cor03);

            padding: 10px;

            border-radius: 7px;

            box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.322);
        }

        aside > h3 {

            background-color: var(--cor02);
            font-size: 1.3em;
            color: var(--cor05);
  
            padding: 10px;


            margin: -10px -10px 0px -10px;

            border-radius: 10px 10px 0px 0px;

        }

        aside > ul {

            columns: 2;
            list-style-position: inside;

            list-style-type: '\2714\00A0';

        }

        footer {

            background-color: var(--cor05);
            color: white;
            text-align: center;
            font-size: 0.8em;
            padding: 3px;
        }

        footer a {
            color: var(--cor03);
            text-decoration: none;
            font-size: 1.2em;

        }

        footer a:hover {

            text-decoration: underline;
            color: var(--cor02);
        }


